@import '~css/mixin';

.scroll-warpper {
    @include scroll(0)
}

#root>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.page-warp {
    height: 100%;
    width: 100%;
}
#root>div>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.error-icon{
    font-size: 30px;
    margin-bottom: 5px;
}