@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin scroll($top,$bottom,$left) {
    position: fixed;
    top: $top;
    left: $left;
    right: 0;
    bottom: $bottom;
    .scroll-warpper-app {
        height: 100%;
        overflow: hidden;
    }
}